html, body {
    height: 100%;
    width: 100%;
    cursor: url('Fotos_Cursor2/Burbuja.png') 16 16, auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", sans-serif;
    background: linear-gradient(to bottom, #1e3c72, #2a5298);
    background-attachment: fixed;
    color: white;
    text-align: center;
}

h1 {
    color: #9ee8ff;
    text-shadow: 0 0 10px rgba(0, 180, 255, 0.8);
    margin-top: 40px;
}

input[type="text"],
input[type="password"] {
    width: 250px;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255,255,255,0.25);
    color: #eaffff;
    font-size: 16px;
    box-shadow: inset 0 0 10px rgba(0, 80, 120, 0.4);
}

button {
    width: 250px;
    padding: 12px;
    margin-top: 10px;
    background: #00b7ff;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 180, 255, 0.6);
    cursor: url('Fotos_Cursor2/Gota.png') 16 16, pointer;
}

button:hover {
    background: #008ecc;
    box-shadow: 0 0 20px rgba(0, 180, 255, 0.9);
}

a {
    color: #b3f4ff;
    text-decoration: none;
    transition: 0.3s;
    cursor: url('Fotos_Cursor2/Pez.png') 16 16, pointer;
}

a:hover {
    color: #ffffff;
    text-shadow: 0 0 10px white;
}

.cursor-rastro {
    position: fixed;
    width: 14px;
    height: 14px;
    background: rgba(160,210,255,0.8);
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(150,200,255,0.9);
    animation: desaparecer 0.6s forwards;
}

@keyframes desaparecer {
    from { transform: scale(1); opacity: 1; }
    to { transform: scale(2); opacity: 0; }
}